{{> head}}
{{> navbar}}

    <div class="row">

        <div class="col-8">
            <h1><Autos/h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex esse aperiam neque dolore, ratione illum atque minus molestias sit, dolorem repellendus totam quaerat praesentium debitis aspernatur reiciendis assumenda ab sint.</p>

        </div>

        <div class="col-4">
            <img src="assets/img/descarga.jpg" class="img-thumbnail">
            
        </div>

    </div>

    {{> footer}}